<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
    ">

    <bean id="vasyl" class="org.example.Human" scope="singleton" init-method="init" destroy-method="destroy">
        <property name="name" value="Vassilius"/>
        <property name="weight" value="50"/>
    </bean>

    <bean id="cat" class="org.example.Cat" scope="singleton" autowire="byType" parent="vasyl">
        <property name="weight" value="10"/>
    </bean>

    <bean id="parrot" class="org.example.Parrot" scope="singleton">
        <property name="name" value="Sparky"/>
    </bean>

    <bean class="org.example.MaternityHospitalPostProcessor"/>

    <bean id="head" class="org.example.Head" scope="singleton">
        <property name="iq" value="120"/>
    </bean>

    <context:annotation-config />

    <!-- context:component-scan base-package="org.example" / -->

</beans>